block header
 // Navigation
 nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
   .container
    span.glyphicon.glyphicon-user
    a.navbar-brand(href='/') Home Page
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='adlist') Ad List
        li.nav-item
          a.nav-link(href='addItem') Create Item