extends layout

block header
    include header
block content
   div 
     h4.text-align-center Register 
   form
     .form-group
         label(for='name') Name
         input#email.form-control(type='text'  placeholder='Enter name')
     .form-group
         label(for='exampleInputEmail1') Email address
         input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
     .form-group
         label(for='exampleInputPassword1') Password
         input#password.form-control(type='text' placeholder='Password')
     .form-check
         input#check.form-check-input(type='checkbox')
         label.form-check-label(for='exampleCheck1') Confirm Register 
         br
     button.btn.btn-primary(type='submit') Register

block footer
    include footer
