extends layout

block header
    include header
block content
   div 
     h4.text-align-center Register 
   form(id="register" action="/signup" method="GET")
     .form-group
         label(for='name') Name
         input#name.form-control(type='text' name="name" placeholder='Enter name')
     .form-group
         label(for='email') Email address
         input#email.form-control(type='email' name="email" aria-describedby='emailHelp' placeholder='Enter email')
     .form-group
         label(for='password') Password
         input#password.form-control(type='text' name="password" placeholder='Password')
     .form-check
         input#check.form-check-input(type='checkbox')
         label.form-check-label(for='check') Confirm Register 
         br
     button.btn.btn-primary(type='submit') Register

block footer
    include footer
